.contacts {
  padding: 120px 0;
  @include m-tablet {
    padding: 100px 0;
  }
  @include mobile {
    padding: 80px 0;
  }

  &__descr {
    margin: 0;
    color: var(--storm-color);
    font-size: 20px;
    line-height: 1.5;
  }

  &__content {
    display: flex;
    column-gap: 11%;
    padding-top: 60px;

    @include minidesk {
      column-gap: 6%;
      padding-top: 40px;
      flex-direction: column;
    }
    @include mobile {
      padding-top: 30px;
    }

  }

  &__cover {
    width: 42%;

    @include minidesk {
      width: 100%;
      max-width: 380px;
      margin: 0 auto;
    }

    img {
      border-radius: 4px;
      flex-shrink: 0;
    }
  }

  .form-field__caption {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 1.6;
  }

  .contacts-form {
    padding: 0;
    max-width: inherit;
    row-gap: 25px;

    .contacts-form__radio {
      display: flex;
      align-items: center;
    }

    input {
      padding: 13px 16px;
      font-size: 16px;
      height: 52px;
      &.custom-radio {
        &__input {
          height: auto;
          margin-right: 5px;

        }

      }
    }
    .form-field__input--big {
      font-size: 16px;
    }

    .custom-checkbox {
      &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        &::after, &::before {
          top: 5px;
        }
      }
    }

    .custom-radio {
      &__text {
        color: var(--grey-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
      }
    }

    .checkbox-flex {
      flex-wrap: nowrap;
      margin-top: 12px;

      @include mobile {
        flex-wrap: wrap;
      }
    }

    &__btn {
      height: min-content;
      font-size: 16px;
      padding: 19px 42px;
      margin: 0 auto;
    }
  }

  .choices__list--dropdown {
    border: 1px solid #D7DADD;

    .choices__item--selectable {
      padding-right: 10px;

      &:after {
        display: none;
      }
    }
  }

  .choices__inner {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 52px;
    border-radius: var(--radius);
    border: 1px solid var(--gainsboro-color);
    background: var(--cultured--color);
  }
  .choices[data-type*=select-one] {
    &:after {
      content: url('../img/down-chevron.svg');
      border: 0;
      top: calc(50% - 10px);
      right: 16.5px;
      width: 20px;
      height: 20px;
      margin-top: 0;
      transition: 0.3s ease;
    }
    &.is-open {
      &:after {
        border: 0;
        margin-top: 0;
        transform: rotate(-180deg);
      }
    }
  }

  .choices__placeholder, .choices__item--selectable {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
}

