.header {

  &-contacts {
    @include flex-v-center;

    &__link {
      @include flex-col-start;
      @include mr(35px);

      @include tablet {
        @include mr(0);
        margin-bottom: 22px;
      }
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start
    }

    &--nav {
      display: none;

      @include tablet {
        display: block;
      }
    }

    .contacts-link {
      padding-left: 53px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 40px 40px;

      @include minidesk {
        padding-left: 45px;
        background-size: 35px 35px;
      }

      @include tablet {
        padding-left: 38px;
        background-size: 30px 30px;
      }

      &__caption {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        color: var(--grey-color);
      }
      &__value {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--grey-dark);
        transition: color 0.3s ease-in-out;

        @include minidesk {
          font-size: 16px;
        }
      }

      &:focus {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
      }

      &:hover {
        .contacts-link__value {
          color: var(--primary-color);
        }
      }

      &:active {
        .contacts-link__value {
          color: var(--color-active);
        }
      }

      &--call {
        background-image: url('../img/iphone.svg');
      }

      &--mail {
        background-image: url('../img/chat.svg');
      }
    }
  }
}
