.nav {
  &__list {
    @include flex-v-center;

    @include tablet {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__item {
    @include mr(40px);

    @include tablet {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--grey-color);

    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--color-active);
    }

    &--current {
      color: var(--primary-color);
    }
  }
}
