.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-position: right -4px bottom;
  background-repeat: no-repeat;
  background-color: var(--cultured--color);
  position: relative;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  @include m-tablet {
    padding-top: 120px;
    min-height: 530px;
  }
  @include mobile {
    padding-top: 100px;
    min-height: 480px;
  }

  &__breadcrumbs {
    margin-bottom: 40px;
    @include m-tablet {
      margin-bottom: 45px;
    }
    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    max-width: 600px;
    color: var(--grey-dark);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablet {
      font-size: 60px;
    }
    @include m-tablet {
      font-size: 50px;
    }
    @include mobile {
      font-size: 38px;
    }

    &--small {
      font-size: 64px;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: initial;
      @include m-tablet {
        font-size: 50px;
      }
      @include mobile {
        font-size: 40px;
      }
    }

    &--mb {
      margin-bottom: 60px;
      @include m-tablet {
        margin-bottom: 45px;
      }
      @include mobile {
        margin-bottom: 30px;
      }
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    color: var(--storm-color);
    font-size: 20px;
    line-height: 1.5;
    @include minitablet {
      font-size: 18px;
    }
  }

  &--work-inner {
    background-position: right 0 top 48px;
    background-color: var(--light-color);
  }

  &--positions {
    @include minidesk {
      background-size: 78vw;
    }
    @include mobile {
      background-size: 85vw;
    }
  }

  &__about {
    position: relative;
    z-index: 2;
    &-image {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      @include m-tablet {
        display: none;
      }
    }
  }
}
