.post {
  &__cover {
    display: block;
    width: 100%;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    margin-top: -80px;
    overflow: hidden;
  }
  &__content {
    padding-top: 64px;
    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 24px;
    }
  }

  &__share {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    span {
      margin-right: 12px;
    }
    .social__link svg {
      opacity: 1;
      fill: var(--storm-color);
    }
  }

  &__form {

  }
}
