.services-benefits {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: var(--grey-dark);

  &__title {
    color: var(--light-color);
  }

  &__btn {
    display: block;
    width: 390px;
    transform: translateY(55px);
    margin-left: auto;
    margin-right: auto;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
  }

  &__list {
    --mission-gap: 94px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 45px;
    gap: calc(var(--mission-gap) * 2);

    @include tablet {
      --mission-gap: 30px;
    }

    @include minitablet {
      --mission-gap: 10px;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    @include flex-col-align-center;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(315deg, rgba(218, 219, 221, 0) 0%,
        rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%,
        rgba(218, 219, 221, 0.50) 87.85%,
        rgba(218, 219, 221, 0.00) 100%);
        opacity: 0.4;
        @include minitablet {
          display: none;
        }
      }
    }

    img {
      @include flex-all-center;
      width: 48px;
      height: 48px;
      object-fit: contain;
    }

    h3 {
      margin-top: 24px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 8px;
      color: var(--light-color);
    }
    p {
      margin: 0;
      color: var(--storm-color);
      text-align: center;
      line-height: 1.6;
    }
  }
}

