.slider-nav {
  position: relative;
  z-index: 10;
  @include flex-v-center;

  &__btn {
    @include flex-all-center;
    width: 48px;
    height: 48px;
    color: var(--grey-color);
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:focus, &:hover {
      background-color: var(--primary-color);
      color: var(--light-color);
    }
  }
  svg {
    width: 24px;
    height: 24px;
    color: inherit;
    fill: currentColor;
    flex-shrink: 0;
    object-fit: cover;
  }

  &__margin {
    margin-right: -12px;

    @include mobile {
      margin-right: 0;
    }
  }
}
