<section class="categories">
  <div class="container">
    <h2 class="title title--center categories__title">Categories</h2>
    <div class="categories-tabs">
      <ul class="list-reset categories-nav">
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn categories-nav__btn--active tabs__btn tabs__btn--active" data-tabs-path="all">All News</button>
        </li>
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn tabs__btn" data-tabs-path="2">Company News</button>
        </li>
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn tabs__btn" data-tabs-path="3">Innovation</button>
        </li>
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn tabs__btn" data-tabs-path="4">Industry News</button>
        </li>
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn tabs__btn" data-tabs-path="5">Expert Tips</button>
        </li>
        <li class="categories-nav__item">
          <button class="btn-reset categories-nav__btn tabs__btn" data-tabs-path="6">Marketing</button>
        </li>
      </ul>
      <ul class="list-reset categories-list grid">
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="all">
          <article class="news-article">
            <img src="img/news/recent-1.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="2">
          <article class="news-article">
            <img src="img/news/recent-2.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="3">
          <article class="news-article">
            <img src="img/news/recent-3.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="4">
          <article class="news-article">
            <img src="img/news/recent-4.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="5">
          <article class="news-article">
            <img src="img/news/recent-6.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
        <li class="categories-list__item tabs__content tabs__content--active" data-tabs-target="6">
          <article class="news-article">
            <img src="img/news/recent-6.jpg" alt="article 1" class="news-article__image">
            <div class="news-article__text">
              <h3 class="news-article__title">
                <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
              </h3>
              <div class="news-article__meta article-meta">
                <a href="#" class="article-meta__item">Industry News</a>
                <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                <span class="article-meta__item article-meta__item--comments">4 comments</span>
              </div>
              <p class="news-article__descr">
                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
                nulla. Integer bibendum turpis convallis enim, nibh convallis...
              </p>
            </div>
          </article>
        </li>
      </ul>
      <ul class="list-reset categories-pag">
        <li class="categories-pag__item">
          <a href="#" class="categories-pag__link categories-pag__link--active">1</a>
        </li>
        <li class="categories-pag__item">
          <a href="#" class="categories-pag__link">2</a>
        </li>
        <li class="categories-pag__item">
          <a href="#" class="categories-pag__link">3</a>
        </li>
        <li class="categories-pag__item">
          <a href="#" class="categories-pag__link">4</a>
        </li>
        <li class="categories-pag__item">
          <a href="#" class="categories-pag__link" aria-label="next page">
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
