<section class="clients">
  <div class="container">
    <h2 class="title clients__title title--center">Our clients</h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/clients/inDepth.png" alt="logo 1" class="clients__logo" >
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/partners/higher-fit.png" alt="logo 2" class="clients__logo" >
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/partners/sentinal.png" alt="logo 3" class="clients__logo" >
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/partners/happy-home.png" alt="logo 4" class="clients__logo" >
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/partners/forSale.png" alt="logo 5" class="clients__logo" >
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img src="img/partners/sunSet.png" alt="logo 6" class="clients__logo" >
        </a>
      </li>
    </ul>

  </div>
</section>
