<section class="page-hero page-hero--about" style="">
  <img class="page-hero__about-image" src="./img/about-image.png" alt="build">
  <div class="container page-hero__container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/main.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/news.html" class="breadcrumbs__link">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a>
      </li>
    </ul>
    <h1 class="page-hero__title">How to Build Climate Change-Resilient Infrastructure</h1>
    <div class="page-hero__bottom">
      <div class="page-hero__meta article-meta">
        <a href="#" class="article-meta__item">Industry News</a>
        <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
    </div>
  </div>
</section>
