<section class="page-hero page-hero--news" style="background-image: url('../img/hero-news.png');">

  <div class="container page-hero__container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">News</a>
      </li>
    </ul>
    <h1 class="page-hero__title">NEWS</h1>
    <p class="page-hero__descr">Stay tuned with our news, expert tips and articles.</p>
  </div>
</section>
