<section class="page-hero page-hero--contacts" style="background-image: url('../img/contacts-page-bg.png');">
  <div class="container page-hero__container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/main.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Contacts</a>
      </li>
    </ul>
    <h1 class="page-hero__title">CONTACTS</h1>
    <p class="page-hero__descr">Contact us for all your construction needs. We always welcome any questions and comments.</p>
  </div>
</section>
