<section class="page-hero page-hero--work-inner" style="background-image: url('../img/work-simple-bg.png');">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Modern Cottage</span>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">Modern Cottage</h1>

    <div class="work-images">
      <div class="work-images__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
        </div>
        <button class="btn-reset slider-nav__btn work-images__prev slider-nav">
          <svg>
            <use xlink:href="img/sprite.svg#slider-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn work-images__next slider-nav">
          <svg>
            <use xlink:href="img/sprite.svg#slider-next"></use>
          </svg>
        </button>
      </div>
      <div thumbsSlider="" class="work-images__thumb">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
          <div class="swiper-slide">
            <img src="img/work/slide-1.jpg" alt="work 1">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
