<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">Our history</h2>

      <div class="slider-nav slider-nav__margin">
        <button class="btn-reset slider-nav__btn slider-btn__prev history-nav__prev">
          <svg>
            <use xlink:href="img/sprite.svg#slider-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn__next history-nav__next">
          <svg>
            <use xlink:href="img/sprite.svg#slider-next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content">
      <ul class="list-reset history-nav">
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn history-nav__btn--active">Present</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">March 2023</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">November 2022</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">July 2021</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">August 2020</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">February 2019</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">May 2018</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">October 2017</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">June 2016</button>
        </li>
      </ul>

      <div class="swiper history__item history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="history-item__image" src="img/history-img.jpg" alt="build">
            <p class="history-item__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/services-content-1.jpg" alt="Human">
            <p class="history-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/news/recent-1.jpg" alt="build">
            <p class="history-item__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/news/recent-2.jpg" alt="Human">
            <p class="history-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/news/recent-3.jpg" alt="build">
            <p class="history-item__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/services-content-1.jpg" alt="Human">
            <p class="history-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/history-img.jpg" alt="build">
            <p class="history-item__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae, malesuada vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu&nbsp;nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/services-content-1.jpg" alt="Human">
            <p class="history-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
          </div>
          <div class="swiper-slide">
            <img class="history-item__image" src="img/services-content-1.jpg" alt="Human">
            <p class="history-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
