<section class="partners">
  <div class="container">
    <h2 class="title partners__title title--center">Supported by&nbsp;12+&nbsp;partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/inDepth.png" alt="logo 1" class="partners__logo" >
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/higher-fit.png" alt="logo 2" class="partners__logo" >
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/sentinal.png" alt="logo 3" class="partners__logo" >
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/happy-home.png" alt="logo 4" class="partners__logo" >
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/forSale.png" alt="logo 5" class="partners__logo" >
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img src="img/partners/sunSet.png" alt="logo 6" class="partners__logo" >
        </a>
      </li>
    </ul>

  </div>
</section>
