<section class="position-content">
  <h2 class="visually-hidden">our positions</h2>
  <div class="container">
    <div class="position-content__info">
      <div class="position-content__left">
        <ul class="list-reset positions-list">
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">
                    <svg>
                      <use xlink:href="img/sprite.svg#map-pos"></use>
                    </svg>
                    New York</span>
                  <span class="positions-item__time">
                    <svg>
                      <use xlink:href="img/sprite.svg#clock-pos"></use>
                    </svg>
                    Full Time</span>
                </div>
                <h3 class="positions-item__title">Heavy Equipment Operator</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">
                    <svg>
                      <use xlink:href="img/sprite.svg#map-pos"></use>
                    </svg>
                    New York</span>
                  <span class="positions-item__time">
                    <svg>
                      <use xlink:href="img/sprite.svg#clock-pos"></use>
                    </svg>
                    Full Time</span>
                </div>
                <h3 class="positions-item__title">Financial Compliance Analyst</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">
                    <svg>
                      <use xlink:href="img/sprite.svg#map-pos"></use>
                    </svg>
                    New York</span>
                  <span class="positions-item__time">
                    <svg>
                      <use xlink:href="img/sprite.svg#clock-pos"></use>
                    </svg>
                    Full Time</span>
                </div>
                <h3 class="positions-item__title">Project Manager - Buildings</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">
                    <svg>
                      <use xlink:href="img/sprite.svg#map-pos"></use>
                    </svg>
                    New York</span>
                  <span class="positions-item__time">
                    <svg>
                      <use xlink:href="img/sprite.svg#clock-pos"></use>
                    </svg>
                    Full Time</span>
                </div>
                <h3 class="positions-item__title">Environment Specialist</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">
                    <svg>
                      <use xlink:href="img/sprite.svg#map-pos"></use>
                    </svg>
                    New York</span>
                  <span class="positions-item__time">
                    <svg>
                      <use xlink:href="img/sprite.svg#clock-pos"></use>
                    </svg>
                    Full Time</span>
                </div>
                <h3 class="positions-item__title">Accountant</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
        </ul>
      </div>
      <div class="position-content__right">
        <h3>Didn’t find what you were looking for?</h3>
        <p>Send your CV&nbsp;or subscribe to&nbsp;our newsletter to&nbsp;receive information about new vacancies.</p>
        <div class="position-content__buttons">
          <button class="btn-reset btn btn--stroke-primary position-look__btn"
          data-graph-animation="custom"
          data-graph-path="first"
          >subscribe</button>
          <button class="btn-reset btn btn--fill position-look__btn">send cv</button>

        </div>
      </div>
    </div>
  </div>
</section>
