<section class="related-projects">
  <div class="container">
    <div class="related-projects__top">
      <h2 class="title related-projects__title">
        Related projects
      </h2>
      <div class="slider-nav slider-nav__margin">
        <button class="btn-reset slider-nav__btn slider-btn__prev portfolio-section__prev">
          <svg>
            <use xlink:href="img/sprite.svg#slider-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn__next portfolio-section__next">
          <svg>
            <use xlink:href="img/sprite.svg#slider-next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper related-projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/related/related-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/related/related-2.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/related/related-3.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/related/related-4.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="related-projects__learn learn-more">
      <h4 class="learn-more__title">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
    </div>
  </div>
</section>
