<section class="team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">People are at the heart of Createx Construction Bureau</p>

    <ul class="list-reset team__list">
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-1.jpg" alt="team-1">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Courtney Alexander</p>
        <span class="team__post">CEO, Co-Founder</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-2.jpg" alt="team-2">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Calvin Fox</p>
        <span class="team__post">CEO, Co-Founder</span>
      </li>

      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-3.jpg" alt="team-3">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Johnny Lane</p>
        <span class="team__post">Commercial Manager</span>
      </li>

      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-4.jpg" alt="team-4">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Diane Mccoy</p>
        <span class="team__post">Director of Human Resources</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-5.jpg" alt="team-5">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Judith Warren</p>
        <span class="team__post">Lead Accountant</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-6.jpg" alt="team-6">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Floyd Simmmons</p>
        <span class="team__post">Finacial Director</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-7.jpg" alt="team-7">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Serenity Edwards</p>
        <span class="team__post">Director of Marketing</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="img/team/image-8.jpg" alt="team-8">
          <ul class="list-reset team__social">
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#twitter-team"></use>
                </svg>
              </a>
            </li>
            <li class="list-reset team__social-item">
              <a href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook-team"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="team__name">Shawn Edwards</p>
        <span class="team__post">Tech Lead</span>
      </li>
    </ul>
  </div>
</section>
