<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__content">
      <h2 class="title testimonials__content-title">What our clients are saying</h2>

      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <img class="testimonials-item__image" src="img/profile-image.jpg" alt="Human">
              <p class="testimonials-item__descr">Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.</p>
              <span class="testimonials-item__author">Shawn Edwards</span>
              <span class="testimonials-item__author-position">Position, Company name</span>
            </div>
          </div>

        </div>

        <div class="slider-nav slider-nav__margin testimonials__slider-nav">
          <button class="btn-reset slider-nav__btn slider-btn__prev testimonials__prev">
            <svg>
              <use xlink:href="img/sprite.svg#slider-prev"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn slider-btn__next testimonials__next">
            <svg>
              <use xlink:href="img/sprite.svg#slider-next"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="testimonials__content-img">
      <div class="testimonials-img__block">
        <img src="img/testimonials__img-content.jpg" alt="partners" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
